<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- style sheets -->
  <link rel="stylesheet" href="/css/general.css" />
  <link rel="stylesheet" href="/css/admin/nav.css" />
  <link rel="stylesheet" href="/css/admin/courses.css" />

  <title>Admin-Courses</title>
</head>

<body>
  <%- include("./nav.ejs") %>
    <main>
      <header>
        <h1>Courses</h1>
        <button class="new-course btn" id="newCourseBtn">+ New Course</button>
        <section class="add-new-course" id="addNewCourse">
          <p style="color: red" id="error"></p>
          <form method="post" id="form">
            <div>
              <label for="Course's Name">Course's Name : </label>
              <input id="courseName" type="text" name="courseName" />
            </div>
            <div>
              <label for="Number of students">Number of students: </label>
              <input id="numOfStudents" type="number" name="numberofStudent" />
            </div>
            <div>

            </div>
            <div>
              <button class="btn" id="submit">Add</button>
            </div>
          </form>
        </section>
      </header>

    </main>
</body>

</html>

<script type="module">
  const menu = document.getElementById("addNewCourse");
  const newCourseBtn = document.getElementById("newCourseBtn");

  newCourseBtn.addEventListener("click", () => {
    menu.classList.toggle("activee");
  });

  document.addEventListener("dblclick", function (e) {
    if (
      menu.classList.contains("activee") &&
      !menu.contains(e.target) &&
      !newCourseBtn.contains(e.target)
    ) {
      menu.classList.remove("activee");
      document.getElementById("form").reset();
    }
  });

  // << Start >> form Validation
  import { validateForm } from "../js/formValidation.js";
  const form = document.getElementById("form");
  const error = document.getElementById("error");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    error.style.color = "red";
    const errorMsg = validateForm(form);
    if (errorMsg) return (error.innerHTML = errorMsg);

    try {
      const res = await fetch("/admin/courses", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          title: document.getElementById("courseName").value,
          numberOfStudents: document.getElementById("numOfStudents").value,
          instructorId:
            document.getElementById("instructorName").options[
              document.getElementById("instructorName").selectedIndex
            ].dataset.instructorid,
        }),
      });
      const data = await res.json();
      if (data.msg) {
        error.style.color = "green";
        error.innerHTML = "Added";
      } else if (data.err) location.assign("/error");
    } catch (err) {
      location.assign("/error");
    }
  });
  // << End >> form Validation
</script>