<aside>
    <nav>
        <ul>
            <li><a href="/admin">Dashboard</a></li>
            <li><a href="/admin/users">Users</a></li>
            <li><a href="/admin/courses">Courses</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</aside>