<nav class="navbar">
  <ul class="navbar-nav">
    <li class="logo">
      <a href="#" class="nav-link">
        <span class="link-text logo-text">Admin</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fa-solid fa-user-graduate"></i>
        <span class="link-text">Users</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fa-solid fa-book"></i>
        <span class="link-text">Courses</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fa-solid fa-people-line"></i>
        <span class="link-text">Projects</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fa-solid fa-gear"></i>
        <span class="link-text">Settings</span>
      </a>
    </li>

    <li class="nav-item" id="themeButton">
      <a href="#" class="nav-link">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span class="link-text">Log out </span>
      </a>
    </li>
  </ul>
</nav>
