<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/admin/notifications.css" />
    <link rel="stylesheet" href="/css/admin/nav.css" />
    <title>Notifications</title>
  </head>
  <body>
    <%- include("./nav.ejs") %>
    <main>
      <div class="container-xl px-4 mt-4">
        <!-- Account page navigation-->
        <nav class="nav nav-borders">
          <a class="nav-link" href="/admin/settings">Profile</a>
          <a class="nav-link" href="/admin/security">Security</a>
          <a class="nav-link active ms-0" href="#">Notifications</a>
        </nav>
        <hr class="mt-0 mb-4" />
        <div class="row">
          <div class="col-xl-4"></div>
          <div class="containerAll">
            <div class="col-xl-8">
              <!-- Account details card-->
              <div class="card mb-4">
                <div class="card-header">Notifications</div>
                <div class="card-body">
                  <form id="UpdateProfile_Form">
                    <div class="mb-3">
                      <label class="small mb-1">
                        <div class="cb2">Notifications for all groups</div>
                      </label>
                      <input type="checkbox" hidden="hidden" id="cb-n1" />
                      <label class="switch" for="cb-n1"></label>
                    </div>
                    <hr />
                    <div class="mb-3">
                      <div class="cb2">Automatically watch team</div>
                      Anytime you join a new team,
                      <div>you will automatically be subscribed</div>
                      <div>to updates and receive notification</div>
                      <div>when that team is @mentioned.</div>
                      <input type="checkbox" hidden="hidden" id="cb-n2" />
                      <label class="switch" for="cb-n2"></label>
                    </div>
                    <hr />
                    <div class="mb-3">
                      <div class="cb2">'Deploy key' alert email</div>
                      When you are given admin
                      <div>to an organization, automatically permissions</div>
                      <div>
                        receive notifications when a new deploy key is added.
                      </div>
                      <input type="checkbox" hidden="hidden" id="cb-n3" />
                      <label class="switch" for="cb-n3" id="cb-btn3"></label>
                    </div>
                    <hr />
                    <div class="mb-3">
                      <div class="cb2">Automatically watch repositories</div>
                      When you're given push access to a repository,
                      <div>automatically receive notifications for it.</div>
                      <input type="checkbox" hidden="hidden" id="cb-n4" />
                      <label class="switch" for="cb-n4" id="cb-btn4"></label>
                    </div>
                    <hr />
                    <button class="btn btn-primary" type="submit">
                      Save changes
                    </button>
                    <button class="clear_btn" type="button">Reset</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
