<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/admin/nav.css" />
    <link rel="stylesheet" href="/css/admin/users.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include("./nav.ejs") %>
    <main>
      <header>
        <h1>Users</h1>
        <button class="new-user" id="newUserBtn" type="button">
          + New User
        </button>
      </header>
      <section class="add-new-student" id="addNewStudent">
        <p style="color: red" id="error"></p>
        <form method="post" id="form" action="/admin/users">
          <div>
            <label for="firstName">First Name : </label>
            <input
              type="text"
              placeholder="First Name"
              id="firstName"
              name="firstName"
            />
          </div>
          <div>
            <label for="lastName">Last Name : </label>
            <input
              type="text"
              placeholder="Last Name"
              id="lastName"
              name="lastName"
            />
          </div>
          <div>
            <label for="username">Username : </label>
            <input
              type="text"
              placeholder="Username"
              id="username"
              name="username"
            />
          </div>
          <div>
            <label for="email">Email : </label>
            <input type="text" placeholder="Email" id="email" name="email" />
          </div>
          <div>
            <label for="password">Password : </label>
            <input
              type="password"
              placeholder="Password"
              id="password"
              name="password"
            />
          </div>
          <div class="role">
            <div>
              <input type="radio" id="student" name="role" value="Student" />
              <label for="student">Student</label>
            </div>
            <div>
              <input
                checked
                type="radio"
                id="instructor"
                name="role"
                value="Instructor"
              />
              <label for="instructor">Instructor</label><br />
            </div>
            <div>
              <input
                type="radio"
                id="teachingAssistant"
                name="role"
                value="Teaching Assistant"
              />
              <label for="teachingAssistant">Teaching Assistant</label>
            </div>
          </div>
          <div>
            <button type="submit" id="submit">Submit</button>
          </div>
        </form>
      </section>
      <section class="table">
        <!-- koki -->
        
      </section>
    </main>
    <script type="module">
      const menu = document.getElementById("addNewStudent");
      const newUserBtn = document.getElementById("newUserBtn");

      newUserBtn.addEventListener("click", () => {
        menu.classList.toggle("active");
      });

      document.addEventListener("dblclick", function (e) {
        if (
          menu.classList.contains("active") &&
          !menu.contains(e.target) &&
          !newUserBtn.contains(e.target)
        ) {
          menu.classList.remove("active");
          document.getElementById("form").reset();
        }
      });

      // << Start >> form Validation
      import { validateForm } from "../js/formValidation.js";
      const form = document.getElementById("form");
      const error = document.getElementById("error");
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        if (validateForm(form)) error.innerHTML = validateForm(form);
        else {
          error.innerHTML = "";
          e.target.submit();
        }
      });
      // << End >> form Validation
    </script>
  </body>
</html>
