/* start of main */
.my-course {
  display: flex;
}
.my-course .title {
  border: none;
  width: 220px;
  outline: none;
  font-size: 35px;
  margin: 10px;
}
.course li {
  list-style: none;
  display: inline;
  margin-right: 30px;
  font-size: 18px;
}
.course li:hover {
  color: #fdc938;
}
.course .active {
  color: #fdc938;
}

/* add material */
.add-material-form {
  border: #cfcece 1px solid;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  width: 50vw;
  margin: 10px;
  margin: 25px;
  display: none;
  padding: 10px;
}
.add-material-form div {
  padding: 10px;
}
.add-material-form .form-label {
  font-size: 20px;
}
.add-material-form input[type="text"] {
  color: rgba(0, 0, 0, 0.87);
  border-bottom-color: rgba(0, 0, 0, 0.42);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.009375em;
  text-decoration: inherit;
  text-transform: inherit;
  align-self: flex-end;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 16px 6px;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  border-bottom: 1px solid;
  border-radius: 4px 4px 0 0;
  background: rgb(245, 245, 245);
  height: 56px;
}

.add-material-form input[type="text"]:hover {
  border-bottom-color: rgba(0, 0, 0, 0.87);
  background: #ececec;
}
.add-material-form input[type="text"]:focus {
  border-bottom: 1px solid #6200ee;
  outline: #6200ee;
}
.add-material-form input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.add-material-form input[type="file"]::file-selector-button:hover {
  background: #0d45a5;
}
.add-material-form button {
  margin: 10px;
  background: #c9c8c8;
  width: 100px;
  border-radius: 5px;
}
.add-material-form.show {
  display: block;
}

/* project */
