
.courses-container {
  overflow-x: scroll;
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid red;
}
.courses-container::-webkit-scrollbar {
  display: none;
}
.course-card {
  margin: 10px;
  padding-bottom: 10px;
  margin-left: 0;
  width: 200px;
  border: #e7e3e3 1px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.course-card img {
  width: 200px;
  padding: 0.5rem;
}
.course-card p {
  font-size: 14px;
  margin: 2px;
}
.course-card .name {
  font-weight: 500;
  font-size: 18px;
}
.course-card a {
  color: black;
}
