h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
}

.courses-container {
  margin: 3%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.course-card {
  background-color: #f8f8f8;
  border-radius: 6px;
  padding: 20px;
  text-align: center;
}

.course-card img {
  border-radius: 6px;
}

.course-card .name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.course-card p {
  margin-top: 5px;
}

.course-card a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.course-card a:hover {
  text-decoration: underline;
}
