<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/login.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <title>Forgot password</title>
  </head>
  <body>
    <main>
      <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
      <form method="POST" id="form" action="/login/post">
      <h3>Reset passowrd </h3>

    <div>
      <label for="username">Username / Email : </label>

       <input
            type="text"
            id="username"
            name="username"
          />
      </div>
      <div class="pass">
          <label for="password">Password : </label>
          <div class="password-input">

  <input
            type="password"
            id="password"
            name="Password"
          />
          <i class="fas fa-eye toggle-password"></i></div>
<div class="forgotpass">     
      <a href="/forgetpassword">Forget Password ?</a>
</div>
      </div>
      <p style="color: red" id="error"></p>

      <div class="nextbtn">
          <button type="submit" onclick="changeStyle()">Next <i class="fa-solid fa-arrow-right" style="color: #000000 ; margin-left: 5px;"></i></button>
        <div>  
          
      <div class="anchors">  <a href="/signup">Don't have an account ? Sign up</a>
        </div>
      
</form>

    </main>
    <script type="module">
      // // << Start >> form Validation
      // import { validateForm } from "./js/formValidation.js";
      // const form = document.getElementById("form");
      // const error = document.getElementById("error");
      // form.addEventListener("submit", (e) => {
      //   e.preventDefault();
      //   if (validateForm(form)) error.innerHTML = validateForm(form);
      //   else {
      //     error.innerHTML = "";
      //     e.target.submit();
      //   }
      // });
      // << End >> form Validation

  
      //End of eye icon show and hide password

      //show the password filed 
      function changeStyle() {
  var item = document.getElementsByClassName("pass"); // Access the item by its id
  item.style.display = "block"; // Change the display style to "block"
}
    </script>
  </body>
</html>
