* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.btn {
  display: block;
  width: fit-content;
  padding: 10px 20px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}
.btn:hover {
  filter: brightness(0.7);
}
