* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
.btn {
  display: block;
  width: fit-content;
  padding: 10px 20px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
  border: none;
  white-space: nowrap;
}
.btn:hover {
  filter: brightness(0.7);
}
.progress {
  position: relative;
  height: 2px;
  display: block;
  z-index: 9999;
  width: 100%;
  background-color: white;
  border-radius: 2px;
  background-clip: padding-box; /*margin: 0.5rem 0 1rem 0;*/
  overflow: hidden;
}
.progress .indeterminate {
  background-color: black;
}
.progress .indeterminate:before {
  content: "";
  position: absolute;
  background-color: #2c67b1;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395)
    infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.progress .indeterminate:after {
  content: "";
  position: absolute;
  background-color: #2c67b1;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)
    infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)
    infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}
@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
