<footer>
    <div class="copywrite">
      <p>Copyright &copy; 2023 All rights reserved</p>
      <div class="pro-links">
        <i class="fab fa-facebook-f facebook"></i>
        <i class="fab fa-instagram instagram" ></i>
        <i class="fab fa-linkedin-in linkedin"></i>
      </div>
    </div>
  </footer>