<footer>
    <div class="footer-col">
      <h3>Top Products</h3>
      <li>Manage Reputaions</li>
      <li>Power Tools</li>
      <li>Managed Website</li>
      <li>Marketing Service</li>
    </div>
  
    <div class="footer-col">
      <h3>Quick Links</h3>
      <li>Jobs</li>
      <li>Brand Assests</li>
      <li>Investor Relations</li>
      <li>Terms of Service</li>
    </div>
    <div class="footer-col">
      <h3>Features</h3>
      <li>Manage Reputations</li>
      <li>Power Tools</li>
      <li>Managed Website</li>
      <li>Marketing Service</li>
    </div>
    <div class="footer-col">
      <h3>Resources</h3>
      <li>Guides</li>
      <li>Research</li>
      <li>Exports</li>
      <li>Marketing Service</li>
    </div>
    <div class="footer-col">
      <h3>NewsLetter</h3>
      <p>You can trust us. we only send promo offers,</p>
      <div class="subscribe">
        <input type="text" placeholder="Your Email address" />
        <a href="#" class="yellow">SUBSCRIBE</a>
      </div>
    </div>
    <div class="copywrite">
      <p>Copyright @2023 All rights reserved</p>
      <div class="pro-links">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
      </div>
    </div>
  </footer>