/* course */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #course {
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
  }
  #course .course-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
  }
  #course .courses {
    text-align: start;
    background: #f9f9ff;
    height: 100%;
    position: relative;
  }
  #course .courses img {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
  }
  #course .courses .details {
    padding: 15px 15px 0 15px;
  }
  #course .courses .details i {
    color: #fdc938;
    font-size: 0.9rem;
  }
  #course .courses .cost {
    background-color: rgb(74, 74, 136);
    color: #fff;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 100px;
  }
  
  /* Course-inner   */
  
  #course-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8vw;
  }
  @media(max-width:1100px){
      #course-inner {
        flex-direction: column;
          justify-content: center;
          align-items:flex-start;
          padding: 8vw 4vw;
      }
  }
  #course-inner h3 {
    padding: 35px 0 25px 0;
    color: #29303b;
  }
  #course-inner p {
    color: #646e62;
  }
  #course-inner hr {
    height: 1px;
    background: rgb(236, 226, 229,0.5);
    margin-top: 40px;
  }
  #course-inner .overview {
    width: 70%;
  }
  @media(max-width:1100px){
      #course-inner .overview{
        width: 100%;
      }
  }
  #course-inner .overview .course-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
  }
  @media(max-width:1100px){
      #course-inner .overview .course-img{
        height: 100%;
      }
  }
  #course-inner .overview .course-head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  #course-inner .overview .course-head .c-name {
    width: 70%;
  }
  @media(max-width:1100px){
      #course-inner .overview .course-head .c-name {
        font-size: 22px;
      }
  }
  #course-inner .overview .course-head .c-name h2 {
    color: #29303b;
  }
  #course-inner .overview .course-head .c-name .star {
    margin: 6px 0;
  }
  #course-inner .overview .course-head .c-name .star i {
    color: #fdc938;
    font-size: 0.9rem;
  }
  #course-inner .overview .course-head .c-name p {
    font-size: 15px;
  }
  #course-inner .overview .course-head span {
    padding: 16px 22px;
    border-radius: 5px;
    color: #5838fc;
    font-size: 24px;
    font-weight: 700;
    background-color: rgb(88, 56, 252, 0.1);
  }
  @media(max-width:1100px){
      #course-inner .overview .course-head span{
          font-size: 22px;
      }
  }
  #course-inner .learn p {
    font-size: 15px;
    padding-bottom: 15px;
  }
  #course-inner .learn p i {
    color: #654ce4;
    font-weight: 700;
    margin-right: 20px;
  }
  #course-inner .tutor {
    display: flex;
  }
  #course-inner .tutor img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
  }
  #course-inner .tutor h5 {
    font-size: 15px;
  }
  #course-inner .enroll{
      width: 300px;
      padding: 0 30px 30px 30px;
      border-radius: 11px;
      box-shadow: 0px 20px 40px 0 rgb(11 2 55 / 8%);
  }
  @media(max-width:1100px){
      #course-inner .enroll{
        margin-top: 25px;
      }
  }
  @media(max-width:1100px){
      #course-inner .enroll{
       width: 100%;
      }
  }
  #course-inner .enroll h3{
      padding-bottom: 10px;
  }
  #course-inner .enroll p{
      font-size: 15px;
      color: #64626e;
      margin: 15px 0;
  }
  #course-inner .enroll p i{
      color: #654ce4;
      font-weight: 500;
      margin-right: 18px;
      width: 16px;
      height: 16px;
      line-height: 16px;
      text-align: center;
  }
  #course-inner .enroll .enroll-btn{
      padding: 25px 0 20px 0;
      margin: auto;
      text-align: center;
  }
  #course-inner .enroll .enroll-btn a{
      text-decoration: none;
      font-size: .8rem;
      padding: 13px 45px;
      border-radius: 5px;
      font-weight: 600;
      color: #fff;
      background: rgb(50, 50, 136);
  }