<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- nav css -->
    <link rel="stylesheet" href="/css/instructor/nav.css" />
    <!-- course css -->
    <link rel="stylesheet" href="/css/instructor/course.css" />
    <title>Instructor course</title>
  </head>
  <body>
    <%- include("./nav.ejs") %>
    <main>
      <section>
        <div class="my-course">
          <input
            type="text"
            name="title"
            class="title"
            id="title"
            value="Course Title"
            readonly
          />
          <i class="fa-solid fa-pencil" onclick="editTitle()"></i>
        </div>
        <div class="course">
          <ul>
            <li id="add-material-btn" onclick="materialForm()">
              +Add Material
            </li>
            <li id="add-project-btn" onclick="projectForm()">+Add Project</li>
            <li id="add-activity-btn" onclick="activityForm()">
              +Add Activity
            </li>
          </ul>
          <div class="add-material">
            <div class="add-material-form" id="material">
              <form action="post">
                <div>
                  <label for="type" class="form-label"
                    >Choose the type of Material:</label
                  >
                  <input
                    type="radio"
                    name="type"
                    id="links"
                    onchange="linkInput()"
                  />
                  <label for="">Link</label>
                  <input
                    type="radio"
                    name="type"
                    id="document"
                    onchange="documentInput()"
                  />
                  <label for="">Document</label>
                  <input
                    type="radio"
                    name="type"
                    id="submissions"
                    onchange="submissionInput()"
                  />
                  <label for="">Submissions</label>
                </div>
                <div>
                  <label for="title" class="form-label">Material Title:</label>
                  <input
                    type="text"
                    name=""
                    id=""
                    placeholder="Enter The Title here"
                  />
                </div>
                <div>
                  <label for="content" class="form-label">Content:</label>
                  <input type="text" name="" id="inputType" />
                </div>
                <button>Add</button>
              </form>
            </div>
          </div>
          <div class="add-project">
            <div class="add-project-form" id="project">
              <form action="post">
                <div>
                  <label for="title" class="form-label">Project Title</label>
                  <input type="text" placeholder="Enter the title" />
                </div>
                <div>
                  <label for="description" class="form-label"
                    >Project Description</label
                  >
                  <input type="text" placeholder="Enter the description" />
                </div>
                <div>
                  <label for="members" class="form-label"
                    >Choose the number of team members:</label
                  >
                  <select name="members" id="members-list">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
                <button>Add</button>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- font-awesome -->
    <script
      src="https://kit.fontawesome.com/0b0cd0c012.js"
      crossorigin="anonymous"
    ></script>

    <!-- profile menu -->
    <script>
      let menu = document.getElementById("profileMenu");

      function showMenu() {
        menu.classList.toggle("active-list");
      }
      document.addEventListener("click", function (e) {
        if (
          menu.classList.contains("active-list") &&
          !menu.contains(e.target) &&
          !document.getElementById("profilePic").contains(e.target)
        ) {
          menu.classList.remove("active-list");
        }
      });
    </script>

    <!-- nav on scroll -->
    <script>
      onscroll = () => {
        if (window.scrollY > 5) {
          document.getElementById("nav").classList.add("scroll");
        } else {
          document.getElementById("nav").classList.remove("scroll");
        }
      };
    </script>

    <!-- search -->
    <script>
      const search = document.querySelector(".search");
      const btn = document.querySelector(".btn");
      const input = document.querySelector(".input");

      btn.addEventListener("click", () => {
        search.classList.toggle("active");
        input.focus();
      });
    </script>

    <!-- editable title -->
    <script>
      function editTitle() {
        document.getElementById("title").removeAttribute("readonly");
        document.getElementById("title").style.border = "1px solid black";
      }
    </script>

    <!-- function show input -->
    <script>
      const inputType = document.getElementById("inputType");
      function linkInput() {
        document.getElementById("inputType").type = "text";
      }
      function documentInput() {
        document.getElementById("inputType").type = "file";
      }
      function submissionInput() {
        document.getElementById("inputType").type = "date";
      }
    </script>

    <!-- show material-project-deadline -->
    <script>
      function materialForm() {
        document.getElementById("material").classList.add("show");
        document.getElementById("project").classList.remove("show");

        document.getElementById("add-material-btn").classList.add("active");
        document.getElementById("add-project-btn").classList.remove("active");
        document.getElementById("add-activity-btn").classList.remove("active");
      }
      function projectForm() {
        document.getElementById("project").classList.add("show");
        document.getElementById("material").classList.remove("show");

        document.getElementById("add-project-btn").classList.add("active");
        document.getElementById("add-material-btn").classList.remove("active");
        document.getElementById("add-activity-btn").classList.remove("active");
      }
      function activityForm() {
        document.getElementById("project").classList.remove("show");
        document.getElementById("material").classList.remove("show");

        document.getElementById("add-material-btn").classList.remove("active");
        document.getElementById("add-project-btn").classList.remove("active");
        document.getElementById("add-activity-btn").classList.add("active");
      }
    </script>
  </body>
</html>
