<header>
  <!--Navigation-->
  <nav id="nav">
    <img src="/img/logos/DSK-JF-light-transparent-logo.png" alt="" />
    <div class="navigation">
      <!-- nezabat classes -->
      <div class="secondary-nav">
        <div class="search">
          <input type="text" class="input" placeholder="Search..." />
          <button class="btn"><i class="fas fa-search"></i></button>
        </div>
      </div>
      <div class="items">
        <i class="fas fa-bell"></i>
        <!-- Replace with your notifications icon -->
      </div>
      <div class="profile">
        <img
          src="/img/defaultPP.png"
          alt="user image"
          onclick="showMenu()"
          id="profilePic"
        />
        <div class="list" id="profileMenu">
          <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="/instructor/settings">Manage your account</a></li>
            <li><a href="#">Switch account</a></li>
            <li><a href="#">Add another account</a></li>
            <li><a href="#">Log out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
