header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #23232e;
  border-radius: 8px;
  margin-left: 1%;
}

h1 {
  text-align: center;
  flex-grow: 1;
  color: #ffffff;
}

.new-course {
  margin-left: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(32, 101, 209, 0.24) 0px 8px 16px 0px;
  color: #090042;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
}

.add-new-course {
  top: 70px;
  right: 80px;
  position: absolute;
  background-color: #ffffff;
  width: fit-content;
  padding: 6px 16px;
  box-shadow: rgba(83, 89, 100, 0.24) 0px 8px 16px 0px;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100px);
  transition: 0.3s;
  text-align: center;
  z-index: 999;
}

#error {
  margin: 10px;
  color: red;
}

.add-new-course.activee {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0);
}

.add-new-course div {
  margin: 3px;
  display: flex;
  justify-content: space-between;
}

.add-new-course div input,
#instructorName {
  border: none;
  border-bottom: 1px solid rgb(76, 139, 240);
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px 3px;
  transition: 0.1s;
}

.add-new-course div input:focus {
  outline: none;
  border-bottom: 3px solid rgb(76, 139, 240);
}

#instructorName {
  width: 173px;
}

#submit {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: rgb(45, 182, 27);
  box-shadow: rgba(38, 209, 32, 0.24) 0px 8px 16px 0px;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
}

form div:last-child {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10%;
  margin: 4%;
  border-bottom: #23232e79 1px solid;
}

.card {
  width: 200px;
  margin-bottom: 20px;
  margin-top: 25px;
  border: 3px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(22, 22, 22, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(100, 100, 126, 0.25) 0px 50px 100px -20px,
    rgba(167, 167, 167, 0.3) 0px 30px 60px -30px;
}

.card:hover {
  transform: scale(1.09);
}

.image img {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.article-body {
  padding: 10px;
}

.article-body h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  color: #333333;
}
