:root {
  --succes-color: #2ecc71;
  --error-color: #e74c3c;
  align-content: center;
}
body {
  background-color: #f2f6fc;
  color: #69707a;
}
.containerAll {
  padding: 10px;
  margin: auto;
  float: left;
  padding-right: 20px;
}
.img-account-profile {
  height: 10rem;
}
.rounded-circle {
  border-radius: 50% !important;
}
.card {
  align-content: center;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(255, 68, 0, 0.15);
}
.card .card-header {
  font-weight: 500;
}
.card-header:first-child {
  border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  background-color: rgba(33, 40, 50, 0.03);
  border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control,
.dataTable-input {
  display: block;
  width: 50%;
  padding: 0.875rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #69707a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5ccd6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
  color: #0061f2;
  border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
  color: #69707a;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.btn-primary {
  background: linear-gradient(to top, #341edc 0%, #0049d1 100%);
  box-shadow: #2e7eee 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
.change_username {
  /* background: linear-gradient(to top, #ffffff 0%, #ffffff 20%);  */
  /* box-shadow: #ffffff 0 10px 20px -10px; */
  box-sizing: border-box;
  color: #000000;
  border-color: #000000;
  background-color: #ffffffc7;
  font-weight: bold;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 9px;
  opacity: 1;
  outline: 0 solid transparent;
  margin: 10px 0;
  padding: 5px 5px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 170px;
  word-break: break-word;
  border: 1;
}

.btn-primary:hover {
  background: linear-gradient(to top, #2401a2 0%, #015090 100%);
  /* box-shadow: #5df0b0 0 10px 20px -10px; */
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
}

.clear_btn {
  color: white;
  background-image: linear-gradient(144deg, #ff0000, #ff6c6c 50%, #f80000);
  border-radius: 10px;
  box-shadow: #ff786e 0 10px 20px -10px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  position: absolute;
  right: 3%;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.clear_btn:hover {
  color: white;
  background-image: linear-gradient(144deg, #9a0606, #f41414 50%, #cb0606);
  border-radius: 10px;
  box-shadow: #ff786e 0 10px 20px -10px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  padding: 8px 18px;
  margin-left: 70%;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.two-f-a {
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  color: #0061f2;
  border-color: #0061f2;
  /* padding: 8px 10px; */
  text-decoration: none;
  /* border-color: black;  */
  border-radius: 10px;
  margin: 10px 0;
  /* box-shadow:#76adff 0 10px 20px -10px; */
  border: 1;
}

.profile-pic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  vertical-align: middle;
  text-align: center;
  color: transparent;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
}

.profile-pic:hover {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  color: #fff;
  transition: all 0.3s ease;
  text-decoration: none;
}

.profile-pic span {
  display: inline-block;
  padding-top: 4.4em;
  /* padding-bottom: 4.5em; */
}

form input[type="file"] {
  display: none;
  cursor: pointer;
}

/* .error{
              color: red;
              font-weight:500;
            } */

.form-control.success input {
  border-color: var(--succes-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control span {
  color: var(--error-color);
  /* position: absolute;
      bottom: 0;
      left: 0; */
  visibility: hidden;
}

.form-control.error span {
  visibility: visible;
}

.selectpicker {
  display: block;
  width: 80%;
  padding: 0.875rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #69707a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5ccd6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}
