header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new-user {
  outline: none;
  border: none;
  font-weight: 700;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: rgb(32, 101, 209);
  box-shadow: rgba(32, 101, 209, 0.24) 0px 8px 16px 0px;
}
.new-user:hover {
  background-color: rgb(16, 57, 150);
  box-shadow: none;
}
.add-new-student {
  top: 100px;
  right: 80px;
  position: absolute;
  background-color: #eee;
  width: fit-content;
  padding: 6px 16px;
  box-shadow: rgba(83, 89, 100, 0.24) 0px 8px 16px 0px;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100px);
  transition: 0.3s;
  text-align: center;
  z-index: 999;
}
#error {
  margin: 10px;
}
.add-new-student.activee {
  pointer-events: all;
  opacity: 1;
  user-select: all;
  transform: translateY(0);
}
.add-new-student div {
  margin: 3px;
  display: flex;
  justify-content: space-between;
}
.add-new-student div input {
  border: none;
  border-bottom: 1px solid rgb(76, 139, 240);
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px 3px;
  transition: 0.1s;
}
.add-new-student div input:focus {
  outline: none;
  border-bottom: 3px solid rgb(76, 139, 240);
}
.role {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.role div input {
  margin-right: 10px;
}
#submit {
  outline: none;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: rgb(45, 182, 27);
  box-shadow: rgba(38, 209, 32, 0.24) 0px 8px 16px 0px;
  margin-top: 10px;
}
#submit:hover {
  background-color: rgb(16, 150, 21);
  box-shadow: none;
}
/* User dashboard */
.tableBorder input {
  border: none;
  outline: none;
  cursor: context-menu;
}
table {
  width: 100%;
}
.table-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.search-bar {
  border: 1.5px solid #898686;
  border-radius: 5px;
  width: 240px;
  height: 40px;
  position: relative;
  cursor: text;
}
.search-bar input,
.search-bar i {
  background: transparent;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  outline: none;
  border: none;
  cursor: text;
}
.search-bar i {
  left: 10px;
}
button,
a.delete,
a.ban {
  border: none;
  text-align: center;
  cursor: pointer;
  background: none;
}
button i {
  font-size: 30px;
}

.delete {
  text-decoration: none;
  color: red;
}

.ban {
  text-decoration: none;
  color: rgb(32, 0, 120);
}

td,
th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  position: relative;
}
.profile-pic-container {
  display: flex;
  gap: 7px;
  align-items: center;
}
.profile-pic {
  width: 30px;
}
/* filter  */
.filter-menu {
  opacity: 0;
  transition: 0.3s;
  transform: translateY(-50px);
  user-select: none;
  position: absolute;
  top: 40px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 99;
}
.filter-menu.showMenu {
  pointer-events: all;
  opacity: 1;
  user-select: all;
  transform: translateY(0);
}
.filter-link {
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px 15px;
}
.filter-link p {
  font-size: 18px;
  margin: 5px;
}
.filter-link label {
  font-size: 14px;
  font-weight: 500;
}
.filter-link li {
  margin-bottom: 5px;
  text-decoration: none;
  list-style: none;
}
/* no data found */
.no-data {
  font-size: 25px;
  height: 80vh;
  border-radius: 10px;
  background-color: #eeeeee;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
}
.no-data p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* // */
.menu {
  position: relative;
}
.dots {
  width: fit-content;
  padding: 10px;
  cursor: pointer;
}
.menu-link {
  position: absolute;
  top: 80%;
  right: 30px;
  background: rgb(245, 243, 243);
  border-radius: 10px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  z-index: 100;
  opacity: 0;
  list-style: none;
  padding: 0;
  transition: 0.3s;
  user-select: none;
  pointer-events: none;
}
.menu-link.showList {
  opacity: 1;
  user-select: all;
  pointer-events: all;
}
.menu-link li:not(:last-child) {
  border-bottom: 1px solid rgb(203, 202, 202);
}
.menu-link li {
  font-size: 14px;
  padding: 5px 10px;
}
.menu-link li:hover {
  background: rgb(200, 198, 198);
}
.menu-link li button {
  white-space: nowrap;
  font-size: 15px;
  padding: 10px;
}
.menu-link li button i {
  font-size: 14px;
  margin-right: 10px;
}
/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  color: #383838;
  width: 100%;
  position: fixed;
  bottom: 5%;
  z-index: 99;
  gap: 20px;
}
.pagination ul {
  padding: 0;
  display: flex;
  gap: 7px;
}
.pagination ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 5px;
  border-radius: 50%;
  background-color: #eee;
  width: 15px;
  height: 15px;
  transition: 0.3s;
}
.pagination ul a:hover {
  transform: translateY(-5px);
}
