.parent{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;

}
.services-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: 220px;
  height: 280px;
}
.services-card img {
  width: 100%;
  
}
.services-card h3 {
  font-size: 25px;
  margin: 20px;
}
.services-card p {
  font-size: 15px;
}

