@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Navigation*/
nav {
  position: fixed;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 9vw;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 999;
  transition: 0.3s;
}
nav.scroll {
  padding: 0vw 8vw;
  box-shadow: 0px 0px 20px rgb(137, 134, 134);
}
nav img {
  width: 125px;
  cursor: pointer;
}
nav .navigation {
  display: flex;
}
nav .items {
  padding: 1rem;
}
nav .items i {
  font-size: 20px; /*Adjust the font size as needed */
  margin: 0 10px; /* Adjust the margin as needed */
  color: #999; /* Adjust the icon color as needed */
}

nav .items i:hover {
  color: #555; /* Adjust the hover color as needed */
}
.items::after,
.items::before {
  content: "";
  display: inline-flex;
  width: 1px;
  height: 25px;
  border-right: solid 1px #c9c8c8;
  top: 50%;
  right: 0;
}

.profile {
  position: relative;
}

.profile img {
  cursor: pointer;
  border-radius: 50%;
  width: 55px;
  margin-right: 10px; /* Adjust the margin as needed */
}
.profile .list {
  opacity: 0;
  position: absolute;
  right: -10px;
  top: 150%;
  background-color: #f8f8f8;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0px 0px 7px #bebebe;
  transition: 0.3s;
  pointer-events: none;
}

.list.active-list {
  top: 110%;
  opacity: 1;
  pointer-events: all;
}

.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list ul li {
  padding: 13px 10px;
}

.list ul li:hover {
  background-color: #e4e3e3;
}

.list ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.list ul li a {
  color: black;
  text-decoration: none;
}

/*Secondary nav */
.secondary-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  z-index: 99; 
}
.secondary-nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.secondary-nav ul li {
  margin-right: 10px;
}
.secondary-nav a {
  color: black;
  text-decoration: none;
  padding: 8px;
  transition: 0.3s;
}
.secondary-nav a:hover {
  color: #fdc938;
  text-decoration: none;
  padding: 8px;
}

.secondary-nav .dropdown {
  position: relative;
}

.secondary-nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.secondary-nav .dropdown:hover .dropdown-content {
  display: block;
}

.secondary-nav .dropdown-content a {
  color: #333;
  padding: 8px;
  text-decoration: none;
  display: block;
}
.secondary-nav .dropdown-content a:hover {
  background-color: #e4e3e3;
}

.secondary-nav .search {
  position: relative;
  height: 58px;
  width: 250px;
}

.secondary-nav .search .input {
  background-color: #fff;
  border: 0;
  font-size: 18px;
  padding: 10px;
  height: 50px;
  width: 50px;
  transition: 0.3s ease;
}

.secondary-nav .btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: 0.3s ease;
}

.secondary-nav .btn:focus,
.secondary-nav .input:focus {
  outline: none;
}

.secondary-nav .search.active .input {
  width: 200px;
}

.secondary-nav .search.active .btn {
  transform: translateX(198px);
}
/* start of main */
main {
  padding: 9rem 15rem 0rem 15rem ;
  height: 100vh;
}
/* course */
/* Main Body Section */
.main_body {
  height: calc(100vh - 70px);
  display: flex;
  overflow: hidden;
}
.container {
  width: 100%;
  height: 100%;
  padding: 25px;
  overflow-y: scroll;
  border-top: 1px solid #ddd;
  background: #f9f9f9;
}
.cover img {
  width: 100%;
  border-radius: 10px;
}
.main_details {
  padding: 10px;
}
.main_details .c_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.c_title span {
  color: #000;
  font-size: 14px;
}

.course_outline {
  display: flex;
  margin-top: 1rem;
  padding: 10px 4rem;
  align-items: center;
  justify-content: space-between;
}
.course {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.course i {
  padding: 10px;
  font-size: 16px;
  color: #b9068c;
  border-radius: 50%;
  margin-right: 1.2rem;
  background: rgb(238, 153, 212);
}
.description {
  margin-top: 20px;
}
.description h5 {
  font-size: 16px;
  margin-bottom: 10px;
}
.description .des_para {
  display: flex;
  justify-content: space-between;
}
.des_para p {
  color: rgb(119, 119, 119);
}
.des_para img {
  width: 200px;
  border-radius: 10px;
}
.buttons {
  display: flex;
}
.buttons .btn1 {
  width: 200px;
  background: #c71616;
  margin-right: 10px;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
}
.buttons .btn2 {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.btn2 i {
  margin-right: 10px;
}

/* Side Review bar */
.sidebar {
  width: 400px;
  height: 100%;
  padding: 15px;
  overflow-y: scroll;
  border-top-left-radius: 15px;
  background: rgb(219, 219, 219);
}

.sidebar::-webkit-scrollbar,
.container::-webkit-scrollbar {
  display: none;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.3rem;
}
.row h2 {
  font-size: 20px;
}
.row a {
  font-size: 12px;
  text-decoration: none;
  color: rgb(96, 96, 96);
}
.review {
  width: 100%;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 12px;
}
.review .details {
  display: flex;
}
.details .logo img {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  margin-right: 10px;
}
.details .title {
  display: flex;
  flex-direction: column;
}
.details .title h2 {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 4px;
}
.details .title span {
  font-size: 11px;
  color: rgb(96, 96, 96);
}
.review_post {
  margin-top: 10px;
}
.review_post p {
  font-size: 11px;
  word-spacing: 3px;
  color: rgb(119, 119, 119);
}
/* end of main */

/* footer */
footer {
  margin-top: 100rem;
  padding: 6vw;
  background-color: #101c32;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

footer .copywrite {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

footer .copywrite .pro-links i {
  background-color: #5f7185;
  color: #fff;
}

footer .copywrite .pro-links i:hover {
  background-color: #fdc938;
  color: #2c2c2c;
}

footer .copywrite p {
  color: white;
}

@media (max-width: 769px) {
  /* nav {
    padding: 15px 20px;
  }
  nav img {
    width: 130px;
  }
  .art
  
  footer .copyright .pro-links {
    margin-top: 15px;
  } */
}
