:root {
  --succes-color: #2ecc71;
  --error-color: #e74c3c;
  align-content: center;
}
.nav-borders .nav-link.active {
  color: #0061f2;
  border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
  color: #69707a;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}
h1 {
  font-size: 16px;
}
.card-header {
  padding: 15px;
}
.button-container {
  display: flex;
  justify-content: center;
}
.card {
  align-content: center;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(0, 255, 26, 0.15);
}
.img-account-profile {
  height: 10rem;
}
.form-control {
  display: block;
  padding: 0.875rem 1.125rem;
  font-size: 0.9rem;
  border-radius: 0.35rem;
  transition: 0.15s ease-in-out;
}
.profile-pic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  transition: all 0.3s ease;
  cursor: pointer;
}
.profile-pic:hover {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  color: #fff;
}
.profile-pic span {
  display: inline-block;
  padding-top: 4.4em;
}
form input[type="file"] {
  display: none;
  cursor: pointer;
}
.error {
  color: red;
  font-weight: 500;
}
.form-control.success input {
  border-color: var(--succes-color);
}
.form-control.error input {
  border-color: var(--error-color);
}
.form-control span {
  color: var(--error-color);
  visibility: hidden;
}
.form-control.error span {
  visibility: visible;
}
.social-media {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
}
.social-media i {
  font-size: 25px;
}
.btns {
  display: flex;
  justify-content: space-between;
}
.btn-primary {
  background: linear-gradient(to top, #13cf7d 0%, #3cba92 100%);
  box-shadow: #5df0b0 0 10px 20px -10px;
}
.clear_btn {
  background-image: linear-gradient(144deg, #ff0000, #ff6c6c 50%, #f80000);
  box-shadow: #ff786e 0 10px 20px -10px;
}
