:root {
  --succes-color: #2ecc71;
  --error-color: #e74c3c;
  align-content: center;
}
body {
  color: #69707a;
  font-family: "Poppins", sans-serif;
}
.nav-borders .nav-link.active {
  color: #0061f2;
  border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
  color: #69707a;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}
h1 {
  font-size: 16px;
}
.card-header {
  padding: 15px;
}
.card {
  align-content: center;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(0, 255, 26, 0.15);
}
.img-account-profile {
  height: 10rem;
}
.rounded-circle {
  border-radius: 50% !important;
}
.form-control {
  display: block;
  padding: 0.875rem 1.125rem;
  font-size: 0.9rem;
  border-radius: 0.35rem;
  transition: 0.15s ease-in-out;
}
.profile-pic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  transition: all 0.3s ease;
  cursor: pointer;
}
.profile-pic:hover {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  color: #fff;
}
.profile-pic span {
  display: inline-block;
  padding-top: 4.4em;
}
form input[type="file"] {
  display: none;
  cursor: pointer;
}
.error {
  color: red;
  font-weight: 500;
}
.form-control.success input {
  border-color: var(--succes-color);
}
.form-control.error input {
  border-color: var(--error-color);
}
.form-control span {
  color: var(--error-color);
  visibility: hidden;
}
.form-control.error span {
  visibility: visible;
}
.btn {
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 8px 18px;
  font-size: 16px;
  font-weight: 700;
}
.btn-primary {
  background: linear-gradient(to top, #13cf7d 0%, #3cba92 100%);
  box-shadow: #5df0b0 0 10px 20px -10px;
}
.btn-primary:hover {
  background: linear-gradient(to top, #01a25c 0%, #019063 100%);
}
.clear_btn {
  background-image: linear-gradient(144deg, #ff0000, #ff6c6c 50%, #f80000);
  box-shadow: #ff786e 0 10px 20px -10px;
  float: right;
}
.clear_btn:hover {
  background-image: linear-gradient(144deg, #9a0606, #f41414 50%, #cb0606);
  box-shadow: #ff786e 0 10px 20px -10px;
}
p {
  font-weight: bold;
  color: rgb(37, 37, 37);
}
body::-webkit-scrollbar {
  display: none;
}
#fb {
  color: #1877f2;
}
#Li {
  color: #0a66c2;
}

#tw {
  color: #1d9bf0;
}
#gh {
  color: #24292f;
}
.custom-toast {
    /* Add your custom styles here */
    background-color: #ff0000;
    color: #ffffff;
    /* Add more styles as needed */
}
