*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-color: #080710; */
    background-image: url("/public/img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;  
}
/* 
 #changePasswordPart , #otpPart{
    display: none;
} */
#emailPart , #otpPart{
    display: none;
} 
/* #changePasswordPart , #emailPart{
    display: none;
}  */

form{
    /* height: 520px; */
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h1 {
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    margin-bottom: 20px;
  }
label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.otp-field {
    display: flex;
  }
  
  .otp-field input {
    flex: 1;
    margin-right: 5px;
    border-bottom: #ffffff 2px solid;
  }
  .otp-field input[type="text"]
{
    font-size:24px;
    text-align: center;

}
  
 .space{
    margin: 0 8px ;
    font-size: 50px;
 }
  
 input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
  } 
   
  input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgb(255, 255, 255);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgb(255, 255, 255);
  }

::placeholder{
    color: #e5e5e5;
}
.pass{
    display: none;
}
.password-input {
    position: relative;
  }

  .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .toggle-password:hover {
    color: blue; /* Optional: Change the color on hover */
  }
.resend{
color :white;
text-decoration: underline;
background-color: rgba(0,0,0,0);
color :rgba(255, 255, 255, 0.65)
}
.resend:hover{
    color: rgba(255, 255, 255 , 1);

}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.anchors 
{
    display: flex;
    margin-top: 15px;
    justify-content: center;  
    align-items: center;
}
.change-email{
    margin-top: 5px;
    color: rgba(255, 255, 255 , .65);
    display: flex;
  justify-content: flex-end;
}

.change-email:hover{
    color: rgba(255, 255, 255 , 1);

}


.anchors a , a{
    color: blue;
    font-size: 11px;
    margin: 3px;
    font-weight: 700;
}

.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}