<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/img/logos/DSK-JF-logo.png" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- style sheets  -->
    <link rel="stylesheet" href="css/general.css" />
    <link rel="stylesheet" href="css/registration/forgetpassword.css" />
    <title>forgot password</title>
  </head>
  <body>
    <div class="progress" id="PreLoaderBar">
      <div class="indeterminate"></div>
    </div>
    <main>
      <section class="reset-passsword" id="emailPart">
        <form method="POST" id="form">
          <h1>Reset passowrd</h1>
          <p>
            Enter your email address associated with your account and we'll send
            you a code to reset your password.
          </p>
          <div>
            <label for="email">Email :</label>
            <input type="text" id="email" name="email" />
          </div>
          <p style="color: red" id="error"></p>
          <div class="nextbtn">
            <button type="submit">Next</button>
          </div>
        </form>
      </section>
      <!-- ///////////////////////////////////////////////////////////// -->
      <section class="otp" id="otpPart">
        <div class="formaya">
          <h1>Enter the OTP</h1>
          <div class="otp-field">
            <input type="text" maxlength="1" />
            <input type="text" maxlength="1" />
            <input type="text" maxlength="1" />
            <input type="text" maxlength="1" class="middle" />
            <input type="text" maxlength="1" />
            <input type="text" maxlength="1" />
          </div>
          <div class="links">
            <button class="resend" id="resend">Resend code !</button>
            <a href="/forgetpassword" class="change-email">Change email ?</a>
          </div>
          <p style="color: red" id="error2"></p>
        </div>
      </section>
      <!-- ////////////////////////////////////////////////////////////////// -->
      <section class="change-password" id="changePasswordPart">
        <form method="POST" id="form2">
          <h1>Change Passowrd</h1>
          <div>
            <label for="password">Password :</label>
            <input type="password" id="password" name="password" />
          </div>
          <div>
            <label for="confirmPassword">Confirm Password :</label>
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
            />
          </div>
          <p style="color: red" id="error3"></p>
          <div class="nextbtn">
            <button type="submit">submit</button>
          </div>
        </form>
      </section>
    </main>
    <script type="module">
      import { validateForm } from "./js/formValidation.js";
      import sendCodeToAdmin from "./js/sendErrorEmail.js";

      const form = document.getElementById("form");
      const error = document.getElementById("error");
      const error2 = document.getElementById("error2");
      const error3 = document.getElementById("error3");
      let email;

      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        email = document.getElementById("email").value;

        const errorMsg = validateForm(form);
        if (errorMsg) return (error.innerHTML = errorMsg);

        // check if email is in the database
        try {
          const res = await fetch("/forgetpassword", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ email }),
          });

          const data = await res.json();

          if (data.msg) {
            document.getElementById("emailPart").style.display = "none";
            document.getElementById("otpPart").style.display = "block";
            sendCode();
          } else if (data.errMsg) error.innerHTML = data.errMsg;
          else {
            location.assign("/error");
            sendCodeToAdmin(5);
          }
        } catch (err) {
          console.log(err);
          location.assign("/error");
          sendCodeToAdmin(6);
        }
      });

      function sendCode() {
        try {
          fetch("/forgetpassword/sendcode", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ email }),
          });
        } catch (err) {
          console.log(err);
          location.assign("/error");
          sendCodeToAdmin(7);
        }
      }

      document.getElementById("resend").addEventListener("click", sendCode);

      async function ckeckCode() {
        try {
          const res = await fetch("/forgetpassword/checkcode", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ email, otp }),
          });

          const data = await res.json();

          if (data.msg) {
            document.getElementById("otpPart").style.display = "none";
            document.getElementById("changePasswordPart").style.display =
              "block";
          } else if (data.errMsg) error2.innerHTML = data.errMsg;
          else {
            location.assign("/error");
            sendCodeToAdmin(8);
          }
        } catch (err) {
          console.log(err);
          location.assign("/error");
          sendCodeToAdmin(9);
        }
      }

      ///////////////////////////////////////////////////////////////////
      const inputs = document.querySelectorAll(".otp-field input");

      inputs.forEach((input, index) => {
        input.dataset.index = index;
        input.addEventListener("keyup", handleOtp);
        input.addEventListener("paste", handleOnPasteOtp);
      });

      function handleOtp(e) {
        const input = e.target;
        let value = input.value;
        let isValidInput = value.match(/[0-9]/gi);
        input.value = "";
        input.value = isValidInput ? value[0] : "";

        let fieldIndex = input.dataset.index;
        if (fieldIndex < inputs.length - 1 && isValidInput) {
          input.nextElementSibling.focus();
        }

        if (e.key === "Backspace" && fieldIndex > 0) {
          input.previousElementSibling.focus();
        }

        if (fieldIndex == inputs.length - 1 && isValidInput) {
          submit();
        }
      }

      function handleOnPasteOtp(e) {
        const data = e.clipboardData.getData("text");
        const value = data.split("");
        if (value.length === inputs.length) {
          inputs.forEach((input, index) => (input.value = value[index]));
          submit();
        }
      }

      let otp = "";

      async function submit() {
        otp = "";
        inputs.forEach((input) => {
          otp += input.value;
        });
        ckeckCode();
      }
      /////////////////////////////////////////////////////////////////////////

      const form2 = document.getElementById("form2");
      form2.addEventListener("submit", async (e) => {
        e.preventDefault();

        const errorMsg = validateForm(form2);
        if (errorMsg) return (error3.innerHTML = errorMsg);
        try {
          const res = await fetch("/forgetpassword/update", {
            method: "PUT",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              email,
              password: document.getElementById("password").value,
            }),
          });
          const data = await res.json();
          if (data.msg) location.assign(`/login`);
          else {
            location.assign("/error");
            sendCodeToAdmin(10);
          }
        } catch (err) {
          console.log(err);
          location.assign("/error");
          sendCodeToAdmin(11);
        }
      });
    </script>
    <!-- processing bar -->
    <script>
      document.onreadystatechange = function () {
        if (document.readyState === "complete") {
          console.log(document.readyState);
          document.getElementById("PreLoaderBar").style.display = "none";
        }
      };
    </script>
  </body>
</html>
