<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/registration/login.css" />
    <title>Log in</title>
  </head>
  <body>
    <main>
      <form method="POST" id="form" action="/login/post">
        <div>
          <h1>Welcome back</h1>
          <h2 id="login">Log in!</h2>
        </div>
        <div>
          <label for="username">Username : </label>
          <input type="text" id="username" name="username" />
        </div>
        <div class="conatiner">
          <label for="password">Password : </label>
          <input type="password" id="password" name="Password" />
          <i class="fa-regular fa-eye eye" id="eye"></i>
          <i class="fa-regular fa-eye-slash eye" id="closedEye"></i>
        </div>
        <div class="forgotpass">
          <a href="/forgetpassword">Forget Password ?</a>
        </div>
        <p style="color: red" id="error"></p>
        <div class="buttondiv">
          <button type="submit">Sign in</button>
        </div>
        <div class="signupanchor">
          <a href="/signup" class="sign-up"> Don't have an account ? Sign up</a>
        </div>
        <div class="social">
          <div class="google"><i class="fab fa-google"></i> Google</div>
          <div class="facebook"><i class="fab fa-facebook"></i> Facebook</div>
        </div>
      </form>
    </main>
    <!-- eye -->
    <script>
      const eye = document.getElementById("eye");
      const closedEye = document.getElementById("closedEye");
      const passwordInput = document.querySelector("#password");

      eye.addEventListener("click", function () {
        passwordInput.type = "text";
        eye.style.display = "none";
        closedEye.style.display = "block";
      });
      closedEye.addEventListener("click", function () {
        passwordInput.type = "password";
        closedEye.style.display = "none";
        eye.style.display = "block";
      });
    </script>

    <script type="module">
      import { validateForm } from "./js/formValidation.js";

      const form = document.getElementById("form");
      const error = document.getElementById("error");

      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const errorMsg = validateForm(form);
        if (errorMsg) error.innerHTML = errorMsg;
        else {
          try {
            const res = await fetch("/login", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                username: document.getElementById("username").value,
                Password: document.getElementById("password").value,
              }),
            });
            const data = await res.json();
            if (data.errMsg) error.innerHTML = data.errMsg;
            else if (data.user)
              location.assign(`/${data.user.role}/${data.user._id}`);
          } catch (err) {
            console.log(err);
          }
        }
      });
    </script>
  </body>
</html>
