<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/registration/signup.css" />
    <title>Sign up</title>
  </head>
  <body>
    <main>
      <div class="container">
        <div class="title">
          <h1>Creat Account</h1>
          <h2>Sign up!</h2>
        </div>
        <form method="post" id="form" action="/signup/post">
          <div class="names">
            <div>
              <label for="firstName">First Name : </label>
              <input type="text" id="firstName" name="firstName" />
            </div>
            <div>
              <label for="lastName">Last Name : </label>
              <input type="text" id="lastName" name="lastName" />
            </div>
          </div>

          <div>
            <label for="username">Username : </label>
            <input type="text" id="username" name="username" />
          </div>

          <div>
            <label for="email">Email : </label>
            <input type="text" id="email" name="email" />
          </div>

          <div class="pass">
            <label for="password">Password : </label>
            <input type="password" id="password" name="Password" />
            <i class="fa-regular fa-eye eye" id="eye"></i>
            <i class="fa-regular fa-eye-slash eye" id="closedEye"></i>
          </div>

          <p style="color: red" id="error"></p>

          <div class="recaptcha">
            <div
              class="g-recaptcha"
              data-sitekey="6Le6QD4mAAAAADV5VfC2F0joiBbaA0kDAr0PyEQN"
            ></div>
          </div>

          <a href="/login">Already have an account ? Sign in</a>

          <button type="submit" class="btn sign-up">Sign up</button>
        </form>
      </div>
    </main>
    <!-- Google reCAPTCHA -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!-- eye -->
    <script src="js/registration/eye.js"></script>

    <script type="module">
      import { validateForm } from "./js/formValidation.js";

      const form = document.getElementById("form");
      const error = document.getElementById("error");

      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        const errorMsg = validateForm(form);
        if (errorMsg) return (error.innerHTML = errorMsg);

        try {
          const res = await fetch("/signup", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
              role: "student",
              firstName: document.getElementById("firstName").value,
              lastName: document.getElementById("lastName").value,
              username: document.getElementById("username").value,
              email: document.getElementById("email").value,
              password: document.getElementById("password").value,
              gpa: 0,
            }),
          });

          const data = await res.json();

          if (data.errMsg) error.innerHTML = data.errMsg;
          else if (data.err) location.assign("/error");
          else location.assign(`/${data.user.role}/${data.user._id}`);
        } catch (err) {
          console.log(err);
        }
      });
    </script>
  </body>
</html>
