<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/registration/signup.css" />
    <title>Sign up</title>
  </head>
  <body>
    <main>
      <form method="post" id="form" action="/signup/post">
        <h1>First timer ?</h1>
        <h1 id="signup">Create a new account now</h1>
        <div class="names">
        <div>
          <label for="firstName">First Name : </label>
          <input type="text" id="firstName" name="firstName" />
        </div>
        <div>
          <label for="lastName">Last Name : </label>
          <input type="text" id="lastName" name="lastName" />
        </div>
      </div>
        <div>
          <label for="username">Username : </label>
          <input type="text" id="username" name="username" />
        </div>
        <div>
          <label for="email">Email : </label>
          <input type="text" id="email" name="email" />
        </div>
        <div class="password-input">
          <label for="password">Password : </label>
          <input type="password" id="password" name="Password" />
          <i class="fa-regular fa-eye eye" id="eye"></i>
          <i class="fa-regular fa-eye-slash eye" id="closedEye"></i>
        </div>
        <p style="color: red" id="error"></p>
        <div>
          <button type="submit">Sign up</button>
        </div>
        <div class="signinanchor">
        <a href="./signin.html" class="sign-in">Already have an account ? Sign in</a>
    </div> 
   </form>
    </main>

    <!-- eye -->
    <script>
      const eye = document.getElementById("eye");
      const closedEye = document.getElementById("closedEye");
      const passwordInput = document.querySelector("#password");

      eye.addEventListener("click", function () {
        passwordInput.type = "text";
        eye.style.display = "none";
        closedEye.style.display = "block";
      });
      closedEye.addEventListener("click", function () {
        passwordInput.type = "password";
        closedEye.style.display = "none";
        eye.style.display = "block";
      });
    </script>

    <script type="module">
      import { validateForm } from "./js/formValidation.js";

      const form = document.getElementById("form");
      const error = document.getElementById("error");

      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const errorMsg = validateForm(form);
        if (errorMsg) error.innerHTML = errorMsg;
        else {
          try {
            const res = await fetch("/signup", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({
                role: "student",
                firstName: document.getElementById("firstName").value,
                lastName: document.getElementById("lastName").value,
                username: document.getElementById("username").value,
                email: document.getElementById("email").value,
                password: document.getElementById("password").value,
                gpa: 0,
              }),
            });
            const data = await res.json();
            if (data.errMsg) error.innerHTML = data.errMsg;
            else if (data.user)
              location.assign(`/${data.user.role}/${data.user._id}`);
          } catch (err) {
            console.log(err);
          }
        }
      });
    </script>
  </body>
</html>
